.themes-section {
    height: 100%;
    background: #070c1d;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  
  }
  
  
  .theme1 {
    color: #fff;
    font-size: xx-large;
    font-family: Poppins;
    margin: 80px 0 0 0;
    display: flex;
    justify-content: center;
  
  }
  
  
  .jadu {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    width: 280px;
    height: 350px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    /* z-index: 1; */
    box-shadow:50px #63f5bd;
  }
  
  .flip-card .front,
  .flip-card .back {
    font-family: Poppins;
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 600;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, #13b3be,#85fcfc);
    backface-visibility: hidden;
    border-radius: 10px;
    
  }
  
  .flip-card .back {
    transform: rotateY(180deg);
    color: #000;
    background: linear-gradient(180deg, #63f5bd, #00ffff);
  
    
  }
  
  label:hover .flip-card {
    transform: rotateY(-180deg);
    
  }
  label:focus .flip-card {
    transform: rotateY(180deg);
    
  }
  
  input {
    display: none;
  }
  
  :checked + .flip-card {
    transform: rotateY(-180deg);
  }
  label:focus :checked + .flip-card {
    transform: rotateX(175deg);
  }
  
  .front img {
    display: inline-block;
    width: 100px;
    height:100px;
    margin: 50px 0 auto 0;
    animation:1s ease-in-out 1s bounceIn;
    
  }
  
  .front h1 {
    font-size: 30px;
    color: #000000;
    margin: 0;
  }
  .front h2 {
    font-size: 18px;
    color: #4e699d;
    margin: 12px 0 12px 0;
  }
  .front p,
  .back .click {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
    padding-top: 10px;
    
    
  }
  
  .back h1 {
    color: #424752;
    margin: 30px 0 0 0;
  }
  
  hr {
    display: inline-block;
    width: 180px;
    margin: 5px auto 3px auto;
  }
  .back ul{
    font-size: 1px;
  
  }
  .back li {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 0 5px 0 5px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
  }
  
@media screen and (max-width: 600px){
  .theme1 {
    color: #fff;
    font-size: xx-large;
    font-family: Poppins;
    margin: 80px 0 0 0;
    display: flex;
    justify-content: center;
  
  }
  
  
  .jadu {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    width: 280px;
    height: 350px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  
  
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    
    transition: all 0.5s ease-in-out;
  }
  
  .flip-card .front,
  .flip-card .back {
    font-family: Poppins;
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 600;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, #13b3be,#85fcfc);
    backface-visibility: hidden;
    border-radius: 10px;
    
  }
  
  .flip-card .back {
    color: #000;
    background: linear-gradient(180deg, #63f5bd, #00ffff);
  
    
  }
  input {
    display: none;
  }
  
  input[type="checkbox"]:checked + .flip-card 
  {
    transform: rotateY(0deg);
  }
  
  .front img {
    display: inline-block;
    width: 100px;
    height:100px;
    margin: 50px 0 auto 0;
    animation:1s ease-in-out 1s bounceIn;
    
  }
  
  .front h1 {
    font-size: 30px;
    color: #000000;
    margin: 0;
  }
  .front h2 {
    font-size: 18px;
    color: #4e699d;
    margin: 12px 0 12px 0;
  }
  .front p,
  .back .click {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
    padding-top: 10px;
    
    
  }
  
  .back h1 {
    color: #424752;
    margin: 30px 0 0 0;
  }
  
  hr {
    width: 180px;
    margin: 5px auto 3px auto;
    display: inline-block;
  }
  .back ul{
    font-size: 1px;
  
  }
  .back li {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 0 5px 0 5px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
  }
}