@media screen and (max-width: 1260px) {
  .illustration {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .theme-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vh;
    height: 41vh;
  }
  .writeup-body {
    padding: 5%;
    margin: 0em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: #ffffff;
    font-family: Poppins;
  }
  .theme-cards {
    margin: 0px;
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 600px) {
  .main-nav {
    position: relative;
    background-color: #070c1d;
    padding: 20px 0;
    transform: scaleY(0) rotateX(-90deg);
    transition: transform 0.3s cubic-bezier(0, 1.84, 0.88, 0.78);
    transform-origin: top;
  }

  .video-player {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
    height: auto;
    width: 100%;
  }
  .writeup-body {
    padding: 5%;
    margin: 0em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: #ffffff;
    font-family: Poppins;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
    background-color: #191919;
    padding: 20px;
  }

  footer h4 {
    padding: 15px;
    color: #d2d1d1;
  }

  footer h4 i {
    color: rgb(22, 22, 218);
  }

  footer h4 a {
    color: white;
    text-decoration: none;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer h4 a span {
    text-decoration: underline;
  }

  .hero-section {
    height: 100%;
    position: relative;
    flex-direction: column;
  }

  .dexterix {
    position: absolute;
    z-index: 2;
    font-size: 1.2rem;
    padding: 25px;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  .dexterix h1 {
    font-family: Poppins;
    margin-bottom: 10px;
    color: #fff;
  }

  .dexterix h3 {
    font-family: Poppins;
    padding-bottom: 5px;
    color: #fff;
  }

  .dexterix h5 {
    font-size: 18px;
    font-family: Poppins;
    color: #fff;
    padding-bottom: 5px;
  }

  .illustration {
    position: relative;
    z-index: 0;
    display: none;
  }

  .hero-img {
    width: 307px;
    position: absolute;
    top: 35px;
    left: 5%;
    z-index: 0;
  }

  .apply,
  .turington {
    background-color: white;
    border-radius: 5%;
    text-align: center;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 5px;
    height: 35px;
    width: 48%;
    box-shadow: var(--shadow);
  }

  .apply img {
    width: 100px;
  }

  .apply:hover,
  .turington:hover {
    background-color: #3f5efb;
    padding: 4px;
  }

  .apply-here a {
    font-size: 20px;
    font-weight: 600;
    color: #3f5efb;
    text-decoration: none;
  }

  .apply-here a:hover {
    font-size: 25px;
    color: white;
  }

  #apply-now {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    background-color: #3770ff;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 600;
    /* padding: 8px 16px; */
    text-align: center;
    box-shadow: var(--shadow-lg);
    width: 100px;
  }

  .icons {
    padding: 15px;
    padding-left: 0px;
    margin-top: 10px;
  }

  .about-section {
    height: 100%;
    margin-top: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    flex-wrap: wrap;
    align-content: center;
    color: #fff;
  }

  .highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .highlights h1 {
    padding: 25px;
    font-size: 22px;
    font-family: Poppins;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-bottom: 10px;
  }

  .countdown li {
    display: inline-block;
    font-size: 12px;
    padding: 0px 15px;
    text-transform: uppercase;
    color: #fff;
  }

  .countdown li span {
    display: block;
    font-size: 30px;
  }

  .prize {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .prize-card {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 75px;
    margin: 10px;
    margin-bottom: 0;
    background-color: #a5f0d3;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .card {
    width: 40%;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a5f0d3;
  }

  .card i {
    padding: 25px;
    font-size: 2.5em;
  }

  .card h3 i {
    font-size: 2.5rem;
  }

  .schedule-section {
    height: 100%;
    margin-bottom: 0px;
    font-size: 1rem;
  }

  .themes-section {
    height: 100%;
    background: #070c1d;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .theme1 {
    color: #fff;
    font-size: xx-large;
    font-family: Poppins;
    margin: 80px 0 0 0;
    display: flex;
    justify-content: center;
  }

  label {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    width: 280px;
    height: 350px;
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

    transition: all 0.5s ease-in-out;

    box-shadow: 50px #63f5bd;
  }

  .flip-card .front,
  .flip-card .back {
    font-family: Poppins;
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 600;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, #13b3be, #85fcfc);
    backface-visibility: hidden;
    border-radius: 10px;
  }

  .flip-card .back {
    transform: rotateY(180deg);
    color: #000;
    background: linear-gradient(180deg, #63f5bd, #00ffff);
  }

  label:hover .flip-card {
    transform: rotateY(-180deg);
    box-shadow: 0 20px 20px rgba(1, 143, 143, 0.2);
  }
  label:focus .flip-card {
    transform: rotateY(-180deg);
    box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
  }

  input {
    display: none;
  }

  :checked + .flip-card {
    transform: rotateY(-180deg);
  }
  label:focus :checked + .flip-card {
    transform: rotateX(175deg);
    box-shadow: 0 20px 20px rgba(255, 3, 3, 0.2);
  }

  .front img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 50px 0 auto 0;
    animation: 1s ease-in-out 1s bounceIn;
  }

  .front h1 {
    font-size: 30px;
    color: #000000;
    margin: 0;
  }
  .front h2 {
    font-size: 18px;
    color: #4e699d;
    margin: 12px 0 12px 0;
  }
  .front p,
  .back .click {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
    padding-top: 10px;
  }

  .back h1 {
    color: #424752;
    margin: 30px 0 0 0;
  }

  hr {
    width: 180px;
    margin: 5px auto 3px auto;
    display: inline-block;
  }
  .back ul {
    font-size: 1px;
  }
  .back li {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 0 5px 0 5px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
  }

  .event-schedule {
    margin-top: 20px;
  }

  .event-schedule h1 {
    font-family: Poppins;
  }

  .schedule-section-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 95%;
    background-color: white;
  }

  .section-1 {
    width: 90%;
    margin: 30px;
    margin-top: 30px;
  }

  .section-1 h2 {
    font-size: 1.3em;
    margin-bottom: 25px;
  }

  .partition {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-top: 2px black solid;
  }

  .section-2 {
    width: 90%;
    margin: 30px;
    margin-top: 30px;
  }

  .section-2 h2 {
    font-size: 1.3em;
    margin-bottom: 25px;
  }

  .events-section {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 0px;
    justify-content: center;
    font-size: 1rem;

    color: white;
  }

  .events {
    margin-top: 20px;
    height: 42vh;
    display: flex;
    flex-direction: column;
  }

  .event-section {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .events h1 {
    font-family: Poppins;
  }

  .events-section-section {
    width: 100%;
    bottom: 0;
  }

  .parent {
    margin: 10px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }

  .div1 {
    background-image: url("../assets/img1.jpg");
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    background-image: url("../assets/img2.jpg");
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    background-image: url("../assets/img3.jpg");
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    background-image: url("../assets/img4.jpg");
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    background-image: url("../assets/img5.jpg");
    grid-area: 5 / 1 / 6 / 2;
  }

  .div6 {
    background-image: url("../assets/img6.jpg");
    grid-area: 6 / 1 / 7 / 2;
  }
  .div7 {
    background-image: url("../assets/img7.jpg");
    grid-area: 7 / 1 / 8 / 2;
  }
  .div8 {
    background-image: url("../assets/img8.jpg");
    grid-area: 8 / 1 / 9 / 2;
  }
  .div9 {
    background-color: magenta;
    grid-area: 9 / 1 / 10 / 2;
  }
  .div10 {
    background-color: crimson;
    grid-area: 10 / 1 / 11 / 2;
  }
  .div11 {
    background-color: purple;
    grid-area: 11 / 1 / 12 / 2;
  }
  .div12 {
    background-color: dodgerblue;
    grid-area: 12 / 1 / 13 / 2;
  }

  .event-card {
    width: 100%;
    height: 9vh;
    border: 1px gray solid;
  }

  .event-card h2 {
    color: white;
    font-size: 22px;
    font-family: Poppins;
  }

  .ad-event-card {
    width: 100%;
    height: 9vh;
    border: 1px gray solid;
  }

  .ad-event-card h2 {
    color: white;
    font-size: 20px;
    font-family: Poppins;
  }

  .events-section-section {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 90vh;
    width: 100%;
    bottom: 0;
    background-color: white;
  }

  .sponsors-section {
    height: 100%;
    color: white;
  }

  .sponsors-section-section {
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }

  .sponsors h1 {
    font-family: Poppins;
  }

  .sponsors {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sponsors-list {
    padding: 0;
    height: 72vh;
  }

  .sponsors-list-list {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sponsors-list-list h5 {
    font-size: 20px;
  }

  .mentors {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .mentors-section {
    height: 100%;
    color: white;
    background-color: #070c1d;
  }

  .mentors h1 {
    font-family: Poppins;
  }

  .faq-section {
    height: 100%;
  }

  .faq-section-section {
    width: 95%;
    font-size: 1rem;
  }

  .faqs {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .faqs-list {
    height: 100%;
    margin-bottom: 10px;
  }
}
