/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
.hero {
  height: 100vh;
}
canvas {
  display: block;
}
/* ---- particles.js container ---- */
#particles-js {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #0d0d0d, #070c1d);
}

#particles-js-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 147vh;
  background: #a8c0ff;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
