:root {
  --shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: white;
}

h2:hover {
  scale: 1.12;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section {
  display: flex;
}

.hero-section {
  position: relative;
  display: flex;
  contain: content;
  flex-direction: column;
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: #070c1d;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dexterix {
  position: absolute;
  word-break: keep-all;
  z-index: 2;
  font-size: 1.9rem;
  padding: 25px;
  left: 3%;
  top: 25%;
  z-index: 1;
}

.dexterix h1 {
  font-family: Poppins;
  margin-bottom: 10px;
  color: white;
}

.dexterix h3 {
  font-family: Poppins;
  padding-bottom: 5px;
  color: white;
}

.dexterix h5 {
  font-family: Poppins;
  color: white;
  padding-bottom: 5px;
}

.illustration {
  position: relative;
  z-index: 0;
}

.hero-img {
  position: absolute;
  top: 180px;
  right: 4%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
}

#apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770ff;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  padding: 14px 10px;
  text-align: center;
  font-size: x-large;
  text-transform: none;
  transition: background 300ms;
  width: 30%;
  justify-content: center;
}

#apply-now:not([disabled]) {
  cursor: pointer;
}

#apply-now:hover {
  background-color: #2954bf !important;
}

.icons {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  padding-left: 0px;
  justify-content: flex-start;
}

.icons a {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  padding: 5px;
}

.icons a:hover {
  color: rgba(255, 255, 255, 0.85);
}

.about-section {
  background: #070c1d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.highlights {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.highlights h1 {
  padding: 25px;
  font-family: Poppins;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.countdown li {
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
  font-size: 25px;
  list-style-type: none;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #fff;
}

.countdown li span {
  display: block;
  font-size: 40px;
}

.prize {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.prize-card {
  color: #040816c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  height: 75px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 149px;
  background: #a5f0d3;
  box-shadow: var(--shadow);
}

.cards {
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 380px;
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #040816c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9px;
  background-color: #eeeeee;
  box-shadow: var(--shadow);
  transition: box-shadow 300ms;
}

.card i {
  padding: 35px;
  font-size: 2.5em;
}

.card h3 i {
  font-size: 3rem;
}

.card:hover {
  box-shadow: var(--shadow-lg);
}

.schedule-section {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.themes-section {
  height: 100%;
  background: #070c1d;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

}

.theme1 {
  color: #fff;
  font-size: xx-large;
  font-family: Poppins;
  margin: 80px 0 0 0;
  display: flex;
  justify-content: center;

}


label {
	display: flex;
	position: relative;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
	width: 280px;
	height: 350px;
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
}

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	/* z-index: 1; */
  box-shadow:50px #63f5bd;
}

.flip-card .front,
.flip-card .back {
  font-family: Poppins;
	position: absolute;
	width: 100%;
	height: 100%;
  font-weight: 600;
	text-align: center;
	background: rgb(2,0,36);
  background: linear-gradient(180deg, #13b3be,#85fcfc);
	backface-visibility: hidden;
	border-radius: 10px;
  
}

.flip-card .back {
	transform: rotateY(180deg);
	color: #000;
	background: linear-gradient(180deg, #63f5bd, #00ffff);

	
}

label:hover .flip-card {
	transform: rotateY(-180deg);
	box-shadow: 0 20px 20px rgba(1, 143, 143, 0.2);
}
label:focus .flip-card {
	transform: rotateY(180deg);
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

input {
	display: none;
}

:checked + .flip-card {
	transform: rotateY(-180deg);
}
label:focus :checked + .flip-card {
	transform: rotateX(175deg);
	box-shadow: 0 20px 20px rgba(255, 3, 3, 0.2);
}

.front img {
	width: 100px;
	height:100px;
	margin: 50px 0 auto 0;
  animation:1s ease-in-out 1s bounceIn;
	
}

.front h1 {
	font-size: 30px;
	color: #000000;
	margin: 0;
}
.front h2 {
	font-size: 18px;
	color: #4e699d;
	margin: 12px 0 12px 0;
}
.front p,
.back .click {
	font-size: 18px;
	font-weight: 600;
  margin: 0 0 5px 0;
  padding-top: 10px;
  
  
}

.back h1 {
	color: #424752;
	margin: 30px 0 0 0;
}

hr {
	width: 180px;
	margin: 5px auto 3px auto;
}
.back ul{
  font-size: 1px;

}
.back li {
  text-decoration: none;
	font-size: 16px;
	color: #000;
	padding: 0 5px 0 5px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
}

.event-schedule {
  margin: 2rem;
}

.event-schedule h1 {
  font-family: Poppins;
}

.schedule-section-section {
  position: absolute;
  display: flex;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.section-1 {
  width: 50%;
  margin-top: 17px;
  margin-bottom: 50px;
}

.section-1 h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.partition {
  padding: 0;
  margin-top: 125px;
  margin-bottom: 75px;
  width: 0;
  border-left: 2px black solid;
}

.section-2 {
  width: 50%;
  margin-top: 17px;
  margin-bottom: 50px;
}

.section-2 h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.event-section {
  display: flex;
  justify-content: center;
  background: #070c1d;
  color: white;
}

.events-section {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.5rem;
}

.events {
  margin-top: 35px;
  place-content: center;
}

.events h1 {
  font-family: Poppins;
}

.events-section-section {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 85vh;
  width: 100%;
  bottom: 0;
  background-color: white;
}

.parent {
  display: grid;
  width: 100%;
  margin: 12px 0px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div1 {
  background-image: url("../assets/img1.jpg");
  grid-area: 1 / 1 / 3 / 5;
}
.div2 {
  background-image: url("../assets/img2.jpg");
  grid-area: 1 / 5 / 3 / 9;
}
.div3 {
  background-image: url("../assets/img3.jpg");
  grid-area: 3 / 1 / 5 / 5;
}
.div4 {
  background-image: url("../assets/img4.jpg");
  grid-area: 3 / 5 / 5 / 9;
}

.event-card {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  border: 2px gray solid;
}

.event-card h2 {
  color: white;
  font-family: Poppins;
  background-image: linear-gradient(#10111163, #1f1d1d60);
}

.event-card a {
  text-decoration: none;
}

.sponsors-section {
  display: flex;
  justify-content: center;
  background: #070c1d;
  color: white;
}

.sponsors-section-section {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}

.sponsors {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sponsors h1 {
  font-family: Poppins;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sponsors-list {
  width: 100%;
  height: 100%;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sponsors-list-list {
  margin: 12px;
}

.mentors {
  color: white;
}

.mentors h1 {
  font-family: Poppins;
}

.mentors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: lightgrey;
}

.mentors-section {
  color: white;
  background-color: #070c1d;
  height: 100%;
}

.faq-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #070c1d, #0d0d0d);
  color: white;
  padding-bottom: 50px;
}

.faq-section-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.faqs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.faqs h1 {
  font-family: Poppins;
}

.faqs-list {
  display: flex;
  height: 10%;
  width: 100%;
  /* margin-bottom: -207px; */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
  background-color: #191919;
  padding: 20px;
}

footer h4 {
  padding: 15px;
  color: #d2d1d1;
}

footer h4 i {
  color: rgb(22, 22, 218);
}

footer h4 a {
  color: white;
  text-decoration: none;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer h4 a span {
  text-decoration: underline;
}

.card-clock {
  background: #a5f0d3; 
}

.card-themes {
  background: linear-gradient(180deg, #a5f0d3, #75feff);
}

.table-fill {
  box-shadow: var(--shadow);
  border-radius: 4px;
  overflow: hidden;
  font-size: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table-fill td {
  border: 1px solid #eaeaee;
  padding: 15px;
}

.table-fill thead {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ffffff;
}

.accordion a:hover::after {
  border: 1px solid #ffffff;
}

.accordion a.active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.accordion a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #ffffff;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.accordion a.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
  color: #ffffff;
  border: 1px solid #ffffff;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.highlights h3 {
  padding: 25px;
  font-family: Poppins;
  align-items: center;
  text-align: center;
}

.about-writeup-section {
  position: absolute;
  display: flex;

  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.writeup-body {
  padding: 1%;
  margin: 0em 10em 0em 10em;
  display: flex;
  flex-direction: column;
  font-size: large;
  color: #ffffff;
  font-family: Poppins;
  text-align: justify;
  padding-top: 1%;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.about-h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: xx-large;
  color: white;
  font-family: Poppins;
}

.video-player {
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
  height: 50%;
  flex-direction: column;
  width: 65%;
  align-self: center;
}

.slideanim {
  visibility:hidden;
  visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
  visibility: visible;                  
  animation: slide 1s;
}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(50%);
  } 
  100% {
      opacity: 1;
      transform: translateY(0);
  } 
}
