*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background: #ffffff;
  background-color: #070c1d;
}

.timeline {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #85fcfc;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container-timeline {
  padding: 15px 30px;
  margin: 0;
  position: relative;
  background: inherit;
  width: 50%;
}

.container-timeline.left {
  left: 0;
}

.container-timeline.right {
  left: 50%;
}

.container-timeline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #070c1d;
  border: 2px solid #85fcfc;
  border-radius: 16px;
  z-index: 1;
}

.container-timeline.right::after {
  left: -8px;
}

.container-timeline::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #85fcfc;
  z-index: 1;
}

.container-timeline.right::before {
  left: 8px;
}

.container-timeline .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.container-timeline .date1 {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container-timeline.left .date {
  right: -82px;
}

.container-timeline.right .date {
  left: -82px;
}
 .container-timeline.right .date1 {
  left: -120px;
} 
.container-timeline.left .date1 {
  right: -150px;
}

.container-timeline .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 1;
}

.container-timeline.left .icon {
  right: 56px;
}

.container-timeline.right .icon {
  left: 56px;
}

.container-timeline .content {
  padding: 10px 90px 10px 30px;
  background: #85fcfc;
  position: relative;
  border-radius: 500px 500px 500px 500px;
}
.container-timeline .content2 {
  padding: 10px 90px 10px 30px;
  background: #85fcfc;
  position: relative;
  border-radius: 500px 500px 500px 500px;
}
.container-timeline .content3 {
  padding: 10px 90px 10px 30px;
  background: #85fcfc;
  position: relative;
  border-radius: 500px 500px 500px 500px;
}

.container-timeline.right .content {
  padding: 10px 30px 10px 90px;
  border-radius: 500px 500px 500px 500px
}
.container-timeline.right .content2 {
  padding: 10px 30px 10px 90px;
  border-radius: 500px 500px 500px 500px
}
.container-timeline.right .content3 {
  padding: 10px 30px 10px 90px;
  border-radius: 500px 500px 500px 500px
}

.container-timeline .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight:bold;
  color: #000000;
  font-family: 'Poppins';
}
.container-timeline .content2 h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight:bold;
  color: #000000;
  font-family: 'Poppins';
}
.container-timeline .content3 h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight:bold;
  color:#000000;
  font-family: 'Poppins';
}
.container-timeline .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: 'Poppins';
}
.container-timeline .content2 p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: 'Poppins';
}
.container-timeline .content3 p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: 'Poppins';
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container-timeline {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container-timeline.right {
    left: 0%;
  }

  .container-timeline.left::after,
  .container-timeline.right::after {
    left: 82px;
  }

  .container-timeline.left::before,
  .container-timeline.right::before {
    left: 100px;
    border-color: transparent #a5f0d3 transparent transparent;
  }

  .container-timeline.left .date,
  .container-timeline.right .date {
    right: auto;
    left: 15px;
  }

  .container-timeline.left .date1,
  .container-timeline.right .date1 {
    right: auto;
    left: 15px;
    width: 58px;
  }

  .container-timeline.left .icon,
  .container-timeline.right .icon {
    right: auto;
    left: 146px;
  }

  .container-timeline.left .content,
  .container-timeline.right .content {
    padding: 10px 5px 5px 70px;
    border-radius: 500px 500px 500px 500px;
    background: linear-gradient(270deg,#13b3be,#85fcfc);
    
  }

  .container-timeline.left .content2,
  .container-timeline.right .content2 {
    padding: 10px 5px 5px 70px;
    border-radius: 500px 500px 500px 500px
  }

  .container-timeline.left .content3,
  .container-timeline.right .content3 {
    padding: 10px 5px 5px 70px;
    border-radius: 500px 500px 500px 500px
  }
}
